#page {
    width: 80%;
    margin: auto;
    box-shadow: 6px 6px 23px 2px black;
    background-color: white;
}

#logo {
    height: 100px;
    position: relative;
    left: 15px;
}

#up_menu {
    width: 100%;
    font-family: sans;
    display: flex;
    margin-bottom: 20px;
}

    #up_menu li {
        float: left;
        list-style-type: none;
        align-content: center;
    }

    #up_menu a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        height: 40px;
        line-height: 40px;
        width: 134px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 20px;
        margin-left: 5px;
        margin-right: 5px;
        float: left;
    }

    #up_menu li:nth-child(1) a {
        line-height: 20px;
    }

.left_menu {
    font-family: sans;
    grid-column: 1;
    margin-right: 35px;
}

#l1 {
    grid-row: 1/21;
}

#l2 {
    grid-row: 23/51;
}

#l3 {
    grid-row: 53/88;
}

.left_menu li {
    list-style-type: none;
    align-content: center;
    padding-bottom: 5px;
}

.left_menu ul {
    width: 160px;
    padding-left: 0px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 20px;
}

.left_menu a {
    color: black;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}

.center_text {
    grid-column: 2;
    grid-row: 1/180;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
}

.right_menu {
    width: 160px;
    grid-column: 3;
    padding: 0px;
    margin-top: : 0px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
}

#r1 {
    grid-row: 1/12;
}

#r2 {
    grid-row: 13/29;
}

#r3 {
    grid-row: 30/67;
}

#r4 {
    grid-row: 68/85;
}

#r5 {
    grid-row: 86/96;
}

    #r5 h1 {
        line-height: 25px;
    }

.right_menu p {
    color: black;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.right_menu a {
    color: black;
    margin-left: 10px;
}

h1 {
    font-size: 20px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    border-radius: 20px;
}

#main_inter {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
}

#dane {
    text-align: center;
}

header {
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 30px 0px;
    box-sizing: border-box;
}

h3 {
    font-size: 16px;
    margin-bottom: 0px;
}

#intencje {
    margin-left: 15px;
    margin-right: 15px;
}

#ogloszenia {
    margin-left: 15px;
    margin-right: 15px;
}

.center_text>* {
    margin-left: 15px;
    margin-right: 15px;
}

.center_text .title {
    font-weight: bold;
}

.center_text b {
    margin-right: 0px;
}

#c1 {
    text-align: center;
}

#Rosary {
    text-align:left;
}

#Rosary .panel {
    border: 1px solid #1a3300;
    border-top: 1px solid transparent;
    width: 90%;
    padding: 5px;
    text-align: justify;
}

#Rosary .tabs {
    margin: 0;
    padding: 0;
}

#Rosary .tabs li {
    float: left;
    list-style-type: none;
    margin-right: 0px;
    margin-left: 0px;
}

#Rosary .tabs li:nth-child(1) {
    margin-left: 30px;
}

#Rosary .tabs a {
    display: block;
    text-decoration: none;
    padding: 3px 5px;
    border: 1px solid #1a3300;
    font-weight: bold;
    font-size: 17px;
    color: #000;
    margin: 0;
}

#Rosary .tabs a.active {
    border-bottom: 1px solid transparent;
    color: firebrick;
}

#Rosary #panelContainer {
    clear: left;
}

.zmarli {
    list-style: none;
}

.zmarli li:before {
    content: "+";
    padding-right: 5px;
}

.ksieza {
    text-align: left;
    height: 200px;
    width: 700px;
    display: flex;
}

.ksieza img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

.ksieza p {
    margin-right: 0px;
    margin-left:20px;
    width: 500px;
}

#TableBox4 {
    display: flex;
    margin-left: 20px;
}

#TableBox4 .column {
    flex: 25%;
}

#TableBox4 .column ul {
    list-style-type: none;    
    padding-left: 0pt;
}


.TALeft {
    text-align: left;
}